.form-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 20px;
    animation-duration: 2s;
    animation-name: enter;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D6D6D6;
    min-width: 100%;
    min-height: 500px;
}

.photo-icon {
    font-size: 120px;
    color: #D6D6D6;
}

.form-input-container {
    display: block;
}

.birth-and-age-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 130px auto 1fr;
}

.basic-info-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
