.form-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 20px;
    animation-duration: 2s;
    animation-name: enter;
}

.form-input-container {
    display: block;
}

.birth-and-age-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 130px auto 1fr;
}

.band-info-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    height: 85px;
}

.save-btn {
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    background: green;
}
