.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 20px;
    animation-duration: 2s;
    animation-name: enter;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 80%;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-container p {
    margin: 0
}

.header {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
}

.singer-name {
    font-size: 32px;
    line-height: 64px;
    margin: 0 0 0 0;
}

.musical-genres-list {
    display: flex;
    gap: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px
}


